/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
html, body {
  overflow-x: hidden;
}

body {
  padding-top: 1rem;
  color: #2c3e50;

}

main {
	padding-top: 2rem;
}

h1 {
  color: #444;
  font: 700 200%/1.4 'Open Sans', sans-serif;
  margin-right:10px;
  margin-left: 10px;
  margin-bottom:40px;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
  display:none;
  color: white;

}
@media screen and (min-width: 400px){
		body{font-size: 14px;}
}

@media screen and (min-width: 600px){
		body{font-size: 16px;}
}

@media screen and (min-width: 900px){
		body{font-size: 18px;}
}



.logo img{
	width:60px;
	height:60px;
	
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;

}

.carousel-inner img { 
    min-width:100%;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}

@media screen and (min-height: 400px) {
#myCarousel{height:250px;}

.carousel {height: 250px;}

.carousel-item {height: 250px;}

.carousel .item {height: 250px;}

.carousel img{height:250px;}

}

@media screen and (min-height: 600px) {
#myCarousel{height:400px;}

.carousel {height: 400px;}

.carousel-item {height: 400px;}

.carousel .item {height: 400px;}

.carousel img{height:400px;}

}

@media screen and (min-height: 800px) {
#myCarousel{height:550px;}

.carousel {height: 550px;}

.carousel-item {height: 550px;}

.carousel .item {height: 550px;}

.carousel img{height:550px;}

}



@media screen and (min-height: 1000px) {
#myCarousel{height:800px;}

.carousel {height: 800px;}

.carousel-item {height: 800px;}

.carousel .item {height: 800px;}

.carousel img{height:800px;}
}

@media screen and (min-width: 1200px) {
#myCarousel{height:800px;}

.carousel {height: 800px;}

.carousel-item {height: 800px;}

.carousel .item {height: 800px;}

.carousel img{height:800px;}

}




/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */



.featurette-divider {
  margin: 2.5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  text-align:center;
  margin-bottom: 2rem;
}

.information{
	width:100%;
}

/* Register CSS */
.register{
	float:right;
	text-align:center;
	width:35%;
}

.register button{
	height:100%;
	min-width: 100%;
	margin-right:10px;
}

@media screen and (min-height: 400px) {
	.register{ height:50px;}

}

@media screen and (min-height: 600px) {
	
	.register{ height:65px;}
}

@media screen and (min-height: 800px) {
	
	.register{ height:75px;}
	.register button{font-size:18px;}
}

@media screen and (min-height: 1000px) {
	
	.register{ height:90px;}
	.register button{font-size:25px;}
}



/*Countdown CSS */

.countdown {
  text-align: center;
  margin-top:2rem;
  min-height: 100%;

}

.countdown-row{
	 float:left;
     width:60%;
}


.countdown-unit {
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: -1;
  border-radius: 0.5rem;
  margin: 0.1rem;
  text-shadow: 0 0 2rem #fff3e7;
  box-shadow: 0 0 2rem 0 rgba(12, 34, 43, 0.1), 0 2rem 3rem -2rem rgba(12, 34, 43, 0.2);
  padding:0;

  
}


.countdown-unit:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 16rem 2rem rgba(255, 243, 231, 0.5);
  background: inherit;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  margin: -16px;
}
.countdown-unit:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}
.countdown-unit div {
  min-width:100%;  	
  text-align: center;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown div:first-child{
	margin-left: 1px;
}

.countdown div:last-child{
	margin-right: 1px;
}

@media screen and (min-height: 400px) {
	
	.countdown{height:2.8rem;}
	.countdown-unit{height:2.8rem;}
	.countdown-unit{font-size:1rem;}
}

@media screen and (min-height: 600px) {
	.countdown{height:3.5rem;}
	.countdown-unit{height:3.5rem;}
	.countdown-unit{font-size:1.5rem;}

}

@media screen and (min-height: 800px) {
	.countdown{height:4.5rem;}
	.countdown-unit{height:4.5rem;}
	.countdown-unit{font-size:2rem;}

}

@media screen and (min-height: 1000px) {
	.countdown{height:6rem;}
	.countdown-unit{height:6rem;}
	.countdown-unit{font-size:2.5rem;}

}
@media screen and (min-width: 1200px) {
	.countdown{height:7rem;}
	.countdown-unit{height:7rem;}
	.countdown-unit{font-size:3rem;}

}


/* Content */

.lead{
	text-align:justify;
}
.read{
min-width:100%;
text-align:center;
margin-top:2rem;
}

.read a {
  text-decoration:none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.read a:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.style-1 {
  border:3px solid #000;
  color:#000;
  font:12px Montserrat;
  text-transform:uppercase;  
  padding:10px;
  font-weight:600;
  max-width:250px;
  display:block;
  text-align:center;  
  margin:10px auto;
  position:relative;
}

.style-1:hover {
  background:#000;
  border-color:#000;
  color:#fff;
}

.slogan {
	font-size: 1.7rem;
	text-align: center;
}


/*Sponsors */







/* Social Media Icons CSS */
#contact-bar {
  background-color: #2f3640;
  margin-bottom:-10px;
  height:80px;

}

#contact-bar a {
  color: white;
  text-decoration: none;
}

#contact-bar ul{
	padding-top:10px;
}
#contact-bar ul li{
  padding:20px;
  display:inline;
  font-size: 200%;
}

#contact-bar ul li:hover{
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
}

#social-fb:hover {
  color: #3B5998;
}

 #social-yt:hover {
  color: #e74c3c;
}

 #social-ins:hover {
  color: #c0392b;
}

#social-em:hover {
  color: #f39c12;
}

.fa:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.fa{
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.footer {
	margin-top: 50px;
}




/*Team CSS */

#multi_item_carousel .carousel-item img{
		border-radius: 50%;
}

#multi_item_carousel{
		 height: max-content;
	}

.team{
	 height: max-content;
}

.team img{
	padding:0;
    min-height: 70px; 
}

.team .card{
	color: white;
	border: none;
	max-width: 250px;
    margin:auto;
    
}

.card-body{
	padding:0;
	font-size:10px;

}

.card p{
	color:black;
    min-height: 54px;
}

.card-title{

	padding:0;
	font-size: 19px;
	text-align:center;
	margin-top:3px;
	margin-bottom:8px;
	font-weight:600;
    color:black;
    min-height: 40px;
	
}

.card-body ul{
	margin-bottom:3px;
}
.card-body li{
		display:inline-block;
		width:24%;
}

.card-body a{
	display: block;
}

.card-body .fa{
  -webkit-transform: scale(2.5); 
  -moz-transform: scale(2.5);
  -o-transform: scale(2.5);

}

.card-body .fa-instagram{
	color: #c0392b;
}

.card-body .fa-linkedin{
	color: #3B5998;
}

.card-body .fa-envelope{
	 color: #f39c12;
}



.post{
	font-size: 13px;
}


#multi_item_carousel .carousel-inner{
		height: max-content;
	} 


#multi_item_carousel .carousel-item{
		height: max-content;
	} 


@media screen and (min-height: 400px) {

		.card-body .fa{
	  -webkit-transform: scale(1.2); 
	  -moz-transform: scale(1.2);
	  -o-transform: scale(1.2);

	}

	.card-title{
		font-size: 13px;
	}

	.post{
		font-size: 10px;
	}


	
	#multi_item_carousel .carousel-item img{
		height: 0px;
	}

}

@media screen and (min-height: 600px) {

    .card-title{
		font-size: 14px;
	}

   .post{
		font-size: 11px;
	}

   .card-body .fa{
	  -webkit-transform: scale(1.4); 
	  -moz-transform: scale(1.4);
	  -o-transform: scale(1.4);

	}
	

	#multi_item_carousel .carousel-item img{
		height: 125px;
	}

}

@media screen and (min-height: 800px) {

	 .card-title{
		font-size: 16px;
	}

    .post{
		font-size: 12px;
	}

     .card-body .fa{
	  -webkit-transform: scale(1.8); 
	  -moz-transform: scale(1.8);
	  -o-transform: scale(1.8);

	}
	

	
	#multi_item_carousel .carousel-item img{
		height: 150px;
	}

}

@media screen and (min-width: 1000px) {

	 .card-title{
		font-size: 20px;
        margin-bottom: 20px;
	}

    .post{
		font-size: 14px;
	}

	.card-body .fa{
	  -webkit-transform: scale(2.8); 
	  -moz-transform: scale(2.8);
	  -o-transform: scale(2.8);

	}
	


	#multi_item_carousel .carousel-item img{
		height: 200px;

		
	}

}

.card-text{
	text-align:justify;
}




/*   Rules and FAQ CSS*/
.tabbed-content{
  overflow:hidden;
  color:black;
  border-radius:4px;
}

.tabs label{
	min-width:48%;
}

.tabs label div{
  float:left;
  min-width:100%;
  text-align:center;
  padding: 8px;
  cursor:pointer;
  opacity:0.7;
  transition:0.3s;
  border-bottom:2px solid transparent;
}

.tabs label div:hover{
  opacity:1;
}

.tabs label input:checked + div{
  opacity:1;
  border-bottom:2px solid #fff;
}

.tabs input{
  display:none;
}

.tabs{
  overflow:hidden;
  padding:0 8px;
}

.tabContent{
  padding:0 16px;
  display:none;
  animation:fadeEffect .5s;
}

.tabContent:target{
  display:block;
}

@keyframes fadeEffect{
  0%{opacity:0}
  100%{opacity:1}
}



.tabs ol {
  counter-reset: list;
  list-style: none;
  padding:0;
  list-style-position: outside;
   padding-left: 1.5em;
}

.tabs ol li {
  counter-increment: list;
  margin-bottom: 10px;
}

.tabs ol li::before {
  content: counter(list);
  background: #53bf89;
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  text-align: center;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.6em;
  display: inline-block;
  margin-right: 0.5em;
}






.container {
  margin: 0 auto;
  width: 100%;
}

#FAQ h3 {
  font-size: 1.75rem;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion a:hover::after {
  border: 1px solid #03b5d2;
}

.accordion a.active {
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
  font-family: 'FontAwesome';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}







/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 4rem;
  }
}



/* FLIP CARDS */

.cat{
	background-color: #130f40;

}

.flip {
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        text-align: center;
		
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}

.flip .card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.8s;
    transform-style: preserve-3d;
    transition: 0.8s;
    background-color: #fff;
  	margin: auto;
	margin-bottom: 50px;
	height: 200px;

}

.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}

.flip .card .front {
   position: absolute;
   z-index: 1;
   height: 100%;
   min-width:100%;
   width: auto;
}

.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  position: absolute;
  height: 100%;
  min-width:100%;
  width: auto;
}

.inner{
	height:100%;
  margin:0px !important;
}

.inner svg{
	height:100%;
	min-width: 100%;
	
}

.inner svg image{
	min-height: 100%;
}	

@media screen and (min-height: 400px) {
	.flip .card {height: 400px;}
}


@media screen and (min-height: 600px) {
	.flip .card { height: 550px;}
}

@media screen and (min-height: 900px) {
	.flip .card { height: 700px;}
}


/* Gallery */

.gallery_filter_tab{
	display: table;
	margin: 0 auto;
	
}
 .gallery-top-text{
	 width:90%;
	 margin:auto;
 }
 
 .gallery-top-text li{
	margin: auto;
 }

.gallery-top-text li a {
  border: 1px solid #797979;
  padding: 8px 15px;
  border-radius: 50px;
  color: #797979;
  display: inline-block;
  margin: 3px 0;
}
.filter-button.active {
  background: #797979;
  color: #fff;
}
.filter {
  border: 1px solid #fff;
}

.no-gutters img{
	width: 500px;
	height: 500px;
	margin-top: 70px;
	margin-right:20px;
}

.img-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.img-popup img {
  max-width: 900px;
  width: 100%;
  min-height:100%;
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.close-btn {
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 15%;
  right: 2%;
  cursor: pointer;
}

.close-btn .bar {
  height: 4px;
  background-color: black;
}

.close-btn .bar:nth-child(1) {
  transform: rotate(45deg);
}

.close-btn .bar:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}

.opened {
  display: flex;
}

.opened img {
  animation: animatepopup 1s ease-in-out .8s;
  -webkit-animation: animatepopup .3s ease-in-out forwards;
}





/*About Page */



blockquote {
	margin-top: 20px;
  position: relative;
  padding-left: 10px;
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
  quotes: "“" "”" "‘" "’";
}
blockquote::before, blockquote::after {
  color: #c6c6c6;
  font-size: 2.0em;
  font-weight: 400;
  line-height: 0.1em;
}
blockquote::before {
  position: absolute;
  left: 0;
  content: open-quote;
  margin-right: 0.15em;
  vertical-align: -0.15em;
}
blockquote::after {
  content: close-quote;
  vertical-align: -0.7em;
}

@-webkit-keyframes live {
  0% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    opacity: 1;
  }
}
@keyframes live {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.yellow {
  background-color: #f0ec75;
}

.live {
  -webkit-animation: live 5s infinite;
}

.belongTo {
  text-align: right;
  margin-right: 200px;
  margin-top: 50px;
  font-size: 16px;
}

.hidden {
  display: none;
}

.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MAPS */

.modal-maps {
	height: 100% auto;
	width: 100% auto;
}
